<h1 style="text-align: center;font-weight: bold;"> {{titulo}} </h1>
<div class="contenedor">
  <div class="componente-hijo">
    <app-componente-hijo (productoAgregado)="agregarProducto($event)"></app-componente-hijo>
  </div>
  
<div class="contenido-principal">
  <button mat-raised-button color="primary" (click)="lista()">Mostrar/Ocultar Lista</button>

  <div class="lista-oculta" *ngIf="mostrarLista" >
    <ul>
      <li *ngFor="let producto of productos">{{ producto.nombre }}: $ {{ producto.costo }}</li>
    </ul>
  </div>
</div>
  
</div>